# Datendateien
*.csv
*.csv.gz
*.parquet
*.zip

# Große SQL-Dumps
*.sql.gz

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtuelle Umgebung und Umgebungsvariablen
.venv/
.env

# Machine-Learning-Modelle
05_API/*.joblib




